// Body
$body-bg: #f5f8fa;

// Borders
$border-color: color.adjust($body-bg, $lightness: -10%);
$list-group-border-color: $border-color;
$navbar-light-border-color: $border-color;
$card-border-color: $border-color;

// Colors
$primary: #3097D1;
$info: #8eb4cb;
$success: #2ab27b;
$warning: #cbb956;
$danger: #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.875rem; // 14px
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-light-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border-color: color.adjust($text-color, $lightness: 40%);
$input-focus-border-color: color.adjust($primary, $lightness: 25%);
$input-placeholder-color: color.adjust($text-color, $lightness: 30%);

// Cards
$card-cap-bg: #fff;
